body {
  padding-top:100px;
}

body header {
  padding-bottom: 0px;
  background-color: #111920;
}

body footer {
  padding-bottom: 0px;
  background-color: #111920;
}

body main {
  padding-top: 0px;
  background: transparent;
  min-height: 800px;
}

kbd {
  background-color: transparent;
  color:inherit;
}

.center {
  text-align: center;
}

.diagram {
  margin: auto;
}

article {
  box-shadow: none;
  border: 1px solid var(--muted-border-color);
}

@media (max-width: 991px){
  .diagram {
    transform: rotate(90deg);
    margin:30px auto;
  }
}
header.top-header {
  position: fixed;
  top:0;
  background-color: #11181e;
  padding-top:10px;
  padding-bottom: 10px;
  -webkit-box-shadow: 0px 4px 16px 8px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 4px 16px 8px rgba(0,0,0,0.1);
  box-shadow: 0px 4px 16px 8px rgba(0,0,0,0.1);
  z-index: 2;
}

div.top {
  display:flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
}
hgroup {
  margin-bottom: 0;
}
hgroup *, .include-item, #collection tr {
  cursor: pointer;
}

.header-image {
  max-width: 50%;
  max-height: 80px;
}

header.top nav {
  margin-left: auto;
}

ul#pages {
  left:auto;
}

.subpage-menu {
  display: block;
}

.subpage-menu li {
  display: block;
}
figure.hero {
  display:none;
}

.hero figcaption {
  text-align: right;
}

#pages-container, #collection {
  display: none;
}

#pages-container article {
  display: none;
}

#pages-container article:nth-child(1) {
  display:block;
}

.parentLink {
  float:right;
}

#pages-container figure img {
  max-height: 500px;
}
figure.pano-marker {
  margin-bottom:0;
}

#pages-container footer {
  display: flex;
}
button.page-nav {
  width: 25%;
}
button.previous-page {

}
button.next-page {
  margin-left: auto;
}


.show-all {
  width: 25%;
  float: right;
  margin-left: 5%;
}

.advanced {
  margin:1%;
}

.dataTables_wrapper .dataTables_filter {
  float: left;
  text-align: left;
  margin: 0.5%;
  width:99%;
}

table.dataTable {
    display: block;
}

#items thead {
  display:none;
}

#items tbody {
  display: flex;
  flex-wrap: wrap;

}
#items tr {
  flex-basis:48%;
  flex-wrap: wrap;
  min-width:300px;
  margin:1%;
  background-color: var(--card-sectionning-background-color);
  border: 1px solid var(--muted-border-color);
  padding: 10px;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: row-reverse;
}

@media (max-width: 767px) {
  #items tr {
  flex-grow: 3;
  }
  #items td img {
    max-height:100px;
  }
  #items td.Thumbnail {
    width: 24%;
  }
  #items td.Title {
    width:74%;
  }
}

#items td {
  display: block;
  border: 0px;
  width: 49%;
  font-family: nimbus-sans-condensed, sans-serif;
  font-weight: 700;
  line-height: 1.25rem;
}

#items td.thumbnail {
  max-width: 150px;
}
.dataTables_info {
  padding:20px;
}
.dt-info {
  margin-bottom: 10px;
}

.dt-paging-button.current {
  color:var(--primary-inverse);
}
.dt-paging-button {
  width:12%;
  margin:0;
}

.item-modal {
  overflow:hidden;
}

#panorama {
  width: 600px;
  height: 400px;
}
.pnlm-container {
  min-height:500px;
}

.custom-hotspot {
  height: 25px;
  width: 25px;
  border-radius: 25px;
  background: #fff;
  background-image:url('images/info_hotspot_single.png');
  background-size: contain;
}
div.custom-tooltip span {
  visibility: hidden;
  position: relative;
  display:block;
  left:50px;
  border-radius: 3px;
  background-color: #fff;
  color: #000;
  text-align: center;
  width: 200px;
  padding: 10px 15px;
  cursor: default;
  text-align: left;
}
div.custom-tooltip span h3 {
  margin-bottom: 0;
}
div.custom-tooltip span p {
  margin-bottom: 0;
}
div.custom-tooltip:hover span{
  visibility: visible;
}
div.custom-tooltip:hover span:after {

}

footer.container {
  text-align: left;
  padding: 3px;
  background-color: #141e26;
  color: white;
}
.row {
     display: flex;
    column-gap: 3%;
    flex-wrap: wrap;
    justify-content:space-between;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  /*float: left;
  width: 33.3%;
  padding: 20px;*/
      flex-basis: 31%;
    min-width: 250px;
}
@media (max-width: 766px) {
  .column {
    flex-basis:100%;
  }
}



/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}



.more {display: none;}
